<%= title l(:create_new_invoice) %>


<div class="box tabular">
<%= labelled_form_for Invoice.new do |f| %>
<p> 
  <%= f.text_field :company %></p>
<p id="start_date_area">
  <%= f.text_field(:date, :size => 10) %>
  <%= calendar_for('invoice_date') %>
</p>
<p>
Activities (list here activities for that particular date?) with spent time (written in spec: 	only one time tracking can be selected at the time for every time
	record - that means here will be shown name of the activitie - i.e. -
	"SW works)

</p>
<p> - price of work -
Enumerations - Activities (time tracking) name - only one time
tracking can be selected at the time for every time record - that
means here will be shown name of the activitie - i.e. - "SW works"
plus static part "price"</p>
<p>Now 4 custom fields of spent time...</p>
<p>STATIC FIELD - "Issue name" - choosen based on Activities</p>
<p>STATIC FIELD - "Solution description - service description" can be read from Time
tracking record „description“ entry</p>
<p>- "Technician name:" - user who owned issue from redmine</p>
<p>STATIC FIELD - "Client response/confirmation"
STATIC FIELD - i.e. "In case of any
questions…please contact us as soon as possible,
lorem ipsum, etc…"</p>
<p>  <%= f.label "Send Email?" %>  <%= check_box_tag 'send_email', 'yes', true %></p>

<p>  <%= f.submit %></p>
<% end %>
</div>
